<div class="containers">
    <ng-container *ngIf="!isError">
      <div class="vote-wrapper"  [ngStyle]="{'background-image': 'url(' + dataJsonContent.entry_background.background_img + ')', 'height': !dataJsonContent.is_show_percentage ? '100vh' : 'auto'}">
        <div class="vote-wrapper-top">
          <img src={{dataJsonContent.entry_header.banner_img}} alt="dua lipa" class="icon">
          <div class="title">
             {{dataJsonContent.entry_header.description}}
          </div>
          <div class="white-box" *ngIf="!isEndPeriode">
            {{ dataJsonContent.entry_header.remaining_label}} : <span class="count"> {{daysRemaining}} {{ dataJsonContent.entry_header.remaining_end_label}}</span>
          </div>
          <div class="white-box" *ngIf="isEndPeriode">
            <div class="end">
              {{ dataJsonContent.end_voting_header.remaining_label}}
            </div>
            
          </div>
        </div>
      </div>
    </ng-container>
    
  </div>