<ng-container>
    <div class="halo-detail">
      <div class="halo-detail__content">
        <div class="halo-detail__content-image">
          <img src="{{voteDetailRes.image}}" alt="{{voteDetailRes.nomination_name}}" class="w-full">
        </div>
        <div class="halo-detail__content-wrapper">
          <div class="halo-detail__content-platform px-6 py-4">
            <div class="halo-detail__content-platform-title">{{voteDetailRes.nomination_name}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  